.date{
  display: block;
  float:right;
}

ion-content {
  text-align: left;
}

:root .news-item-article{
  --background : var(--app-gray);
}

:root .news-item-fakenews{
  --background : #0099CC;
}


