/* News component */

:root {
  /** WARN: Seems a weird bug that centers everything **/
  text-align: left !important;
}

.news-item.news-item-article {
  background: var(--app-gray);
}
.news-item ion-card-header {
  padding-bottom: 5px;
}
.news-item ion-card-subtitle {
  color: black;
}
.news-item ion-card-content {
  color: #515F7E;
}

:root .news-item.news-item-fake-news {
  background: #0099CC !important;
}

.news-item-full.news-item-fake-news h1 {
  color: #FAB83D !important;
}

.news-item-full.news-item-fake-news p {
  color: white !important;
}

.news-item-fake-news ion-card-subtitle {
  color: #FAB83D !important;
}
.news-item-fake-news ion-card-content{
  color: white !important;
}

.news-item.news-item-protection-activity img {
  float: left;
  margin-right : 10px;
  margin-bottom: 10px;
}

.news-item .date{
  display: block;
  float:right;
  font-size: 60%;
}

.bag-logo {
  width: 30px;
  float:left;
  margin-right: 5px;
  margin-bottom: 5px;
}
