/* Status User component */
.status-user {
  background: var(--app-orange);
  color: white;
}

.status-user ion-card-title {
  color: white;
  font-size: 24px;
}

.status-user ion-card-header {
  padding-bottom: 5px;
}

.status-user.danger {
  background: red;
}

.status-user.warning {
  background: var(--app-orange);
}

.status-user.ok {
  background: green;
}

.status-user img {
  display: block;
  margin: 0px auto;
  width: 120px;
}

/* Status Global component */
.status-global {
  margin: 5px 16px;
  margin-bottom: 30px;
}

.status-global .indicator {
  font-weight: bold;
  line-height: 20px;
}

.status-global .indicator.danger {
  color: red;
}

.status-global .indicator.warning {
  color: var(--app-orange);
}

.status-global .indicator.ok {
  color: green;
}

.status-global .circle-progress-custom {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}


/* Self check component */

.self-check {
  background: var(--app-green);
  color: white;
}

.self-check.need-checking {
  background: var(--ion-color-primary);
}

.self-check ion-card-header {
  padding-bottom: 0px;
}

.self-check ion-card-subtitle {
  color: white;
}


/** install banner **/
.install {
  text-align: center;
}
