/* Status User component */
.status-user {
  background : var(--app-orange);
  color :white;
}

.status-user ion-card-title {
  color: white;
  font-size: 24px;
}
.status-user ion-card-header {
  padding-bottom: 5px;
}
.status-user.danger {
  background: #EC5D62;
}
.status-user.warning {
  background: var(--app-orange);
}
.status-user.ok {
  background: var(--app-green);
}
.status-user img {
  display: block;
  margin: 0px auto;
  width: 120px;
}
