/* Status 0 */
:root .section-title {
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
app-onboarding p {
  text-align : center;
  font-size: 20px;
  margin-bottom: 40px;
}
img {
  display: block;
  margin: 0 auto 15px auto;
}

p small {
  font-size: 70%;
  font-style: italic;
  margin-top: 20px;
  display: block;
}
